<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDocsVisionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62951/DocsVisionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocsVisionService"
                contract="DocsVisionService.IDocsVisionService" name="BasicHttpBinding_IDocsVisionService" />
        </client>
    </system.serviceModel>
</configuration>